@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
body{margin:0;padding:0;}
*{box-sizing:border-box;margin:0;padding:0;list-style:none;font-family: 'Noto Sans KR', sans-serif;letter-spacing:-0.05em;
    &:focus{outline:0;}
}

@import "../_uikit/atom/btn/btn";
@import "../_uikit/atom/form/form";
@import "../_uikit/atom/tag/tag";


/*! Module */
@import "../_uikit/module/receipt";

/*! page */
@import "../page/book/book";
@import "../page/update/update";